@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
    background: #121212;
    color: #F1F1F1;
    font: 500 normal 22px/1.3 'Inter', sans-serif;
}
.mwg_effect020 {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.mwg_effect020 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    gap: 3vw;
}
.mwg_effect020 .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
}
.mwg_effect020 .header p {
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-size: 16px;
}
.mwg_effect020 img {
    width: 15vw;
    height: 15vw;
    position: absolute;
    object-fit: cover;
    border-radius: 4%;
    z-index: 5;
}
.mwg_effect020 .title {
    text-align: center;
    text-transform: uppercase;
    font: 400 italic 9vw / 0.76 'Instrument Serif', serif;
    letter-spacing: -0.05em;
    width: 56%;
}
.mwg_effect020 .text {
    font: 500 normal clamp(12px, 0.9vw, 100px) / normal 'IBM Plex Mono';
    text-transform: uppercase;
    max-width: 34vw;
    text-align: center;
}

.mwg_effect020 .medias img {
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 768px) {
    .mwg_effect020 .header p {
        font-size: 12px;
    }
    .mwg_effect020 .container {
        gap: 15px;
    }
    .mwg_effect020 .title {
        font-size: 60px;
        width: 100%;
        padding: 0 30px;
    }
    .mwg_effect020 .text {
        max-width: 80%;
    }
}

